<h1 class="text-center text-4xl text-gray-800" >我的書本</h1>
<div class="flex justify-end mt-5 md:mr-5">
  <div class="bg-regal-blue hover:bg-blue-600 rounded-2xl text-xl text-white mr-2 mb-4 " ><%=link_to "＋建立新商品", new_book_path, class:"w-full flex px-4 py-2 md:px-6 md:py-3" %></div>
</div>
<% if @books %>
  <main class="mx-3 lg:mx-0 lg:grid lg:grid-cols-3">
    <% @books.each do |book|%>
      <div class="md:px-4">
        <div class=" w-full mb-10 bg-gray-200 rounded-lg shadow-xl px-5 py-3 md:box-border md:gap-4">
          <div>
            <div class="w-full bg-gray-200">
              <div class=" w-full flex flex-wrap justify-between">
                <div class="flex w-full h-15">
                  <div class="flex items-center justify-center w-full">
                  <%= link_to book.title , book_path(book.id), class: "truncate w-3/5 h-15 text-center text-2xl whitespace-wrap border-b-2 border-gray-400 py-2 md:font-bold "%>
                  </div>
                </div>
         
                <div class= "w-full flex justify-center mb-2">
                
                    <div class=" item-center bg-blue-500 hover:bg-blue-600 rounded-lg text-white text-lg shadow-lg" >
                      <%= link_to "編輯" , edit_book_path(book.id), class:"w-full px-6 py-3 box-border"%>
                    </div>
                    <div class=" item-center bg-red-400 hover:bg-red-600 rounded-lg text-white text-lg shadow-lg ml-2 mr-2">
                      <%= link_to "刪除", book_path(book.id), method: "DELETE", class:"w-full px-6 py-3 box-border",data: {confirm: "確定刪除嗎？"}%>
                    </div>
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </main>
<% end %>